<h3>Tantárgyak</h3>

<div style="margin-bottom: 10px">
  <a mat-mini-fab routerLink="/events/create" color="primary">
    <mat-icon>add</mat-icon>
  </a>
</div>

<div style="margin-bottom: 10px" *ngFor="let event of events$ | async">
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a mat-button [title]="event.name + ' details'" [routerLink]="['/events/details', event.id]">
        <b>{{event.name | uppercase}}</b>
      </a>
    </mat-card-title>
    <mat-card-subtitle appHighlight [highlightColor]="'magenta'">{{event.start | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="event.code">
      Kód: {{event.code}}
    </p>
    <p *ngIf="event.credits">
    Kredit: {{event.credits}}
    </p>
    <p *ngIf="event.department">
    Tanszék: {{event.department}}
  </p>
  </mat-card-content>
</mat-card>
</div>